<h1>Create New Bilik Posting</h1>

<form action="/biliks" method="POST">
	<label>Description</label>
	<input type="text" name="description"><br>
    <label>Price</label>
  <input type="text" name="price"><br>
    <label>Address</label>
  <input type="text" name="address"><br>
    <label>city</label>
  <input type="text" name="city"><br>
    <label>state</label>
  <input type="text" name="state"><br>
  
	<input type="submit" value="Create new posting">
</form>

